RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^$                    views/index.php [NC,L]
RewriteRule ^login$               views/login.php [NC,L]
#RewriteRule ^signup$              view_signup.php [NC,L]
#RewriteRule ^contact-us$          view_contact_us.php [NC,L]
RewriteRule ^item/(\d+)$          views/item.php?id=$1 [NC,L]
RewriteRule ^item/(\d+)/(\d+)$    views/complex_item.php?year=$1&price=$2 [NC,L]
#RewriteRule ^search/(\w+)/(\w+)/(\d{1,2})/(\d{1,2})$  view_search.php?from=$1&to=$2&day=$3&month=$4 [NC,L]

RewriteRule ^(\w+)/shoes/(\w+)/(\d+)$  views/products.php?gender=$1&brand=$2&size=$3  

# The company needs this:
# localhost/male/shoes/adidas/45
# localhost/male/shoes/nike/42
# localhost/male/shoes/puma/40
# localhost/female/shoes/adidas/40
# localhost/female/shoes/sketchers/39
# localhost/female/shoes/rebook/40

# Final results in the page:
# A male wants shoes of brand nike in size 42
# A female wants shoes of brand sketchers in size 39
# A female wants shoes of brand rebook in size 40
# A male wants shoes of brand puma in size 40

#RewriteRule ^mobile.css$        css_mobile.css [NC,L]
#RewriteRule ^600.css$           css_600.css [NC,L]
#RewriteRule ^900.css$           css_900.css [NC,L]

ErrorDocument 404               /views/404.php

